* {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;

  height: 90px;
  width: 140px;
  margin-right: 20px;

  font-family: 'Roboto';
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;

  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  color: #ffffff;

  font-family: 'Roboto';
  color: #ffffff;
  font-size: 42px;
  font-weight: bold;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}
